[submodule "ext/profile-loader"]
	path = home-setup/ext/profile-loader
	url = git@github.com:micahcowan/profile-loader.git
[submodule "ext/opt-pather"]
	path = home-setup/ext/opt-pather
	url = git@github.com:micahcowan/opt-pather
[submodule "ext/promptjobs"]
	path = home-setup/ext/promptjobs
	url = git@github.com:micahcowan/promptjobs
	branch = trunk
[submodule "vim-stuff/ext/vim-pathogen"]
	path = vim-stuff/ext/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim-stuff/ext/vim-asm_ca65"]
	path = vim-stuff/ext/vim-asm_ca65
	url = git@github.com:maxbane/vim-asm_ca65.git
